<div class="section section--customer">
  <div class="container container--narrow">
    <h1 class="page-title">Activate account</h1>
    
    {% form 'activate_customer_password' %}
      {{ form.errors | default_errors }}
      
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="customer[password]" id="password" required>
      </div>
      
      <div class="form-group">
        <label for="password-confirmation">Confirm password</label>
        <input type="password" name="customer[password_confirmation]" id="password-confirmation" required>
      </div>
      
      <button type="submit" class="button button--primary">Activate</button>
    {% endform %}
  </div>
</div>