<div class="section section--collection-banner">
  <div class="container">
    <h1 class="collection-title">{{ collection.title }}</h1>
    {% if collection.description != blank %}
      <div class="collection-description rte">
        {{ collection.description }}
      </div>
    {% endif %}
  </div>
</div>

{% schema %}
{
  "name": "Collection Banner",
  "settings": []
}
{% endschema %}